{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block body %}

<div class="mt-4 mb-6 py-6 flex">
  <div class="w-1/6"></div>

  <div class="w-4/6 sm:text-justify">
    <center>
      <h1 class="heading-text font-black text-5xl sm:text-6xl mx-auto">About</h1>
    </center>

    <p>
      I’m a student at National Institute of Technology, Karnataka, India. I am currently doing my Bachelor’s in Technology (B.Tech) in Electronics and Communication Engineering (ECE).
    </p>
    <p>
      I am an experienced web developer. Currently, I am interested in data science and artificial intelligence. Apart from this, you’ll find me singing, playing the piano, reading a book, listening to a song or a podcast or reading up about interesting news in the science world, from physics bending discoveries at the Large Hadron Collider (LHC), CERN, to knowing how exactly COVID-19 works, from the CDC.
    </p>
    <p>
      Feel free to reach out to me for any exciting projects!
    </p>
    
  </div>

  <div class="w-1/6"></div>

</div>


{% endblock %}
