{% extends 'base.html' %}

{% block title %} Categories {% endblock %}

{% block body %}

<style media="screen">
  .svg{
    opacity:1;
    height : 23rem;
    width : 23rem;
  }
</style>

<div class="w-full flex justify-around items-center py-12">
  <div>
    <h1 class="text-5xl sm:text-6xl heading-text font-black overflow-hidden">Categories</h1>
  </div>
</div>

{% for category in categories %}
<a href="{% url 'categories_detail' pk=category.pk %}">
  <div class="block sm:flex items-center bg-gray-200 py-2">
    <div class="block sm:inline-block text-center text-4xl text font-semibold w-full">
      {{ category.name }}
    </div>
</div>
</a>
{% endfor %}


{% endblock %}
